$font-1: "Montserrat", sans-serif;
$font-2: "Cinzel", serif;

.pagina-pagina {
  .breadcrumbs {
    border: 0;
    ul {
      display: flex;
      gap: 15px;
      align-items: center;
      li {
        position: relative;
        &:first-of-type {
          &:before {
            display: none !important;
          }
        }
        &:before {
          position: absolute;
          left: -15px;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 15px;
          height: 15px;
          background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icone-arrow-right.svg")
            center center no-repeat;
          background-size: 70%;
        }
        a,
        strong {
          font-family: $font-2;
          color: #1e103b;
          font-weight: 800;
          font-size: 13px;
          text-transform: uppercase;
          text-decoration: none;
          padding: 0;
          i {
            display: none;
          }
        }
        border: 0;
      }
    }
  }
  .secao-principal {
    .conteudo {
      .caixa-sombreada {
        box-shadow: none;
        h1.titulo {
          font-family: $font-1;
          color: #1e103b;
          font-weight: 600;
        }
        span, strong {
          font-family: $font-1;
          color: #000;
          font-size: 13px!important;
        }
        p, {
          font-family: $font-1;
          font-size: 13px!important;
          color: #000;
        }
      }
    }
  }
}