$font-1: "Montserrat", sans-serif;
$font-2: "Cinzel", serif;

#barraNewsletter {
  position: relative;
  background: #d6c1ff !important;
  z-index: 10;
  height: 120px;
  .conteiner {
    max-width: 1280px;
    margin: 0 auto;
  }
  .newsletter {
    position: relative;
    background: transparent !important;
  }
  .interno {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent !important;
    padding: 0;
    .titulo {
      width: 340px;
      height: 86px;
      display: block !important;
      font-family: $font-2;
      font-size: 52px;
      font-weight: 700;
      color: #000;
      margin: 0;
      i[class^="icon-"] {
        display: none !important;
      }
      p {
        font-family: $font-1 !important;
        color: #000;
        margin-top: -18px;
        font-weight: 500 !important;
      }
    }
  }
  .interno-conteudo {
    input[name="email"] {
      width: 348px;
      height: 40px;
      border: 1px solid #6134ba;
      border-radius: 40px;
      padding-left: 30px;
    }
    button.newsletter-assinar {
      border-radius: 40px;
      height: 40px;
      width: 144px;
      border: 0;
      background: #6134ba;
    }
  }
}
.hands-newsletter {
  position: absolute;
  background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/hands.png")
    no-repeat;
  width: 146px;
  height: 131px;
  top: -12px;
  left: 0;
}
.flowers-newsletter {
  position: absolute;
  top: 0;
  right: 0;
  width: 104px;
  height: 117px;
  background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/flowers.png")
    no-repeat;
}

@media (max-width: 768px) {
  #barraNewsletter {
    display: block !important;
    height: 270px;
    .conteiner {
      .newsletter {
        height: 270px;
        .interno {
          flex-direction: column;
          padding: 40px 0;
          .titulo {
            font-size: 32px !important;
            text-align: center;
            p {
              margin: 0;
            }
          }
          .interno-conteudo {
            width: 100%;
            padding: 0 20px;
            .newsletter-cadastro {
              width: 100%;
              gap: 20px;
              display: flex;
              flex-direction: column;
              align-items: center;
              input {
                width: 100% !important;
              }
            }
          }
        }
      }
    }
    .hands-newsletter {
      width: 76px;
      height: 69px;
      bottom: 0;
      top: auto;
      background-size: contain;
    }
    .flowers-newsletter {
      bottom: 0;
      top: auto;
      right: 10px;
      width: 74px;
      height: 83px;
      background-size: contain;
    }
  }
}
