.conteiner-principal:has(.menu-user-logged[style="display: none;"]) {
  // listagem de produto
  .listagem-item {
    .info-produto {
      .preco-produto {
        .preco-promocional {
          display: none !important;
        }
      }
    }
    .acoes-produto {
      > a[class="botao botao-comprar principal"] {
        margin-top: 20px !important;
        margin: 20px 0 0 0 !important;
      }
      &::after {
        content: "Faça login para visualizar o preço";
        font-size: 12px;
        color: #000;
        display: block;
        margin-top: 10px;
        font-weight: 500;
      }
    }
  }
  // Component
  .buttonAlertLoggedOut {
    width: 300px;
    height: 40px;
    background: #402d5d;
    font-size: 14px;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
  }

  .content-produto {
    .atributos {
      display:none!important;
    }
  }


}






@media (max-width: 768px) {
  .conteiner-principal:has(.menu-user-logged[style="display: none;"]) {
    // listagem de produto
    .listagem-item {
      .info-produto {
        .preco-produto {
          .preco-promocional {
            display: none !important;
          }
        }
      }
      .acoes-produto-responsiva {
        &::after {
          content: "Faça login para ver o preço";
          font-size: 12px;
          color: #000;
          display: block;
          text-align: center;
          line-height: 13px;
          margin-top: 10px;
          font-weight: 500;
        }
      }
    }
    
    // PAGINA DE PRODUTO INDISPONIVEL
    .content-produto {

    }

  }
}




// USER LOGADO
.conteiner-principal:has(.menu-user-logged[style=""]) {
  a[class="buttonAlertLoggedOut"] {
    display: none!important;
  }
}


header {
  .cart_container {
    .cart {
      width: 40px;
      background: url(https://cdn.sistemawbuy.com.br/arquivos/07ee5fd…/templates/teste/assets/cart_m4f.svg) center center no-repeat;
      svg {
        display: none!important;
      }
      span.sup {
        top: 0;
        right: -19px;
        left: auto;
      }
    }
  }
}