$font-1: "Montserrat", sans-serif;
$font-2: "Cinzel", serif;

.vitrine-categorias {
  width: 100%;
  background: #EADFFF;
  padding: 40px;
  overflow: hidden;
  .title-section {
    font-family: $font-2;
    font-size: 28px;
    margin: 0 0 40px 0;
    color: #000000;
    text-align: center;
  }
  .content-vitrine-categorias {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: center;
    z-index: 2;
    &::after {
      position: absolute;
      right: -60px;
      bottom: -70px;
      content: '';
      width: 323px;
      height: 371px;
      background:  url("https://cdn.awsli.com.br/2454/2454272/arquivos/bg-vitrine.svg") center center no-repeat;
      display: block;
      z-index: 1;
    }
    a {
      border-radius: 47% 47% 0 0;
      overflow: hidden;
      display: flex;
      justify-content: center;
      flex-direction: column;
      text-decoration: none!important;
      z-index: 2;
      img {
        width: 100%;
        margin-bottom: 25px;
      }
      .button-categoria {
        text-align: center;
        border-radius: 14px;
        border: 1px solid #444444;
        display: inline-block;
        margin: 0 auto;
        padding: 3px 20px;
        text-decoration: none!important;
      }
    }
  }
}