$font-1: "Montserrat", sans-serif;
$font-2: "Cinzel", serif;

.vitrine-categorias {
  width: 100%;
  background: #eadfff;
  padding: 40px;
  overflow: hidden;
  .title-section {
    font-family: $font-2;
    font-size: 28px;
    margin: 0 0 40px 0;
    color: #000000;
    text-align: center;
  }
  .content-vitrine-categorias {
    position: relative;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    gap: 0;
    justify-content: center;
    z-index: 3;
    &::after {
      position: absolute;
      right: -60px;
      bottom: -70px;
      content: "";
      width: 323px;
      height: 371px;
      background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/bg-vitrine.svg")
        center center no-repeat;
      display: block;
      z-index: 1;
    }
    div {
      position: relative;
      z-index: 3;
      opacity: .7;
      transition: all .5 ease;
      &:hover {
        transition: all .5 ease;
        opacity: 1;
      }
      a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-decoration: none !important;
        z-index: 2;
        img {
          width: 100%;
          margin-bottom: 25px;
        }
        .button-categoria {
          font-family: $font-2;
          font-size: 14px;
          text-align: center;
          border-radius: 14px;
          border: 1px solid #444444;
          color: #444444;
          display: inline-block;
          margin: 0 auto;
          padding: 3px 20px;
          text-decoration: none !important;
          font-weight: 600 !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .vitrine-categorias {
    padding: 40px 10px;
  }
  .content-vitrine-categorias {
    position: relative;
    max-width: 95% !important;
    display: block !important;
    .content-item-categorias {
      opacity: 1!important;
    }
    .slick-list {
      z-index: 2;
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      z-index: 5;
      font-size: 0;
      border-radius: 50% !important;
    }

    button.slick-prev {
      background: #8e8e8e
        url("https://cdn.awsli.com.br/2454/2454272/arquivos/arrow-left.png")
        center center no-repeat;
      background-size: 54%;
      left: -15px;
    }
    button.slick-next {
      background: #8e8e8e
        url("https://cdn.awsli.com.br/2454/2454272/arquivos/arrow-right.png")
        center center no-repeat;
      background-size: 54%;
      right: -15px;
    }
  }
}
