$font-1: "Montserrat", sans-serif;
$font-2: "Cinzel", serif;

@media (max-width: 768px) {
  #ui-id-1 {
    left: 0!important;
    width: 84%!important;
    padding: 10px !important;
  }
  header[class="header"] {
    width: 100%;
    position: sticky;
    top: -70px!important;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
  }
  
  div#cabecalho {
    .atalhos-mobile.visible-phone {
      display: none!important;
    }
  }
  
  .content-top-bar {
    padding: 5px 0;
    .container-center {
      > .row-fluid {
        padding: 0 10px!important;
        .lista-redes {
          display: flex!important;
          width: 40px;
        }
        .canais-contato {
          width: calc(100% - 50px);
          ul {
            position: relative;
            width: 100% !important;
            flex-direction: row;
            align-items: center;
            gap: 0;
            li {
              &:nth-of-type(1) {
                position: absolute;
                width: 142px;
                right: 43%;
                top: 50%;
                transform: translateY(-50%);
                display: block!important;
              }
              a, span {
                font-size: 11px;
              }
            }
          }
        }
      }
    }
  }

  .alert-bar {
    height: 30px;
    padding: 20px;
    p {
      font-size: 9px!important;
    }
  }

  .content-header {
    position: relative;
    padding: 0 10px!important;
    div[class="content-menu-mobile"] {
      position: relative;
      width: 18%;
      .btn-menu-mobile {
        width: 30px;
        height: 30px;
        background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/btnmenumobile.svg") center center no-repeat;
        background-size: contain;
      }
      .btn-menu-mobile-close {
        background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/close-item.svg") center center no-repeat;
        background-size: contain;
      }
      
    }
    .content-search {
      position: absolute;
      background: #FFF;
      bottom: -56px;
      padding: 10px 0;
      left: 0;
      width: 100vw!important;
      display: flex;
      justify-content: center;
      form#form-buscar {
        width: 85%!important;
        input#auto-complete {
          height:37px!important;
        }
      }
    }
    .logo {
      width: 27%!important;
      a {
        img {
          height: 77px;
          width: auto;
          object-fit: contain;
        }
      }
    }
    .content-menu-user {
      width: 10%;
      display: flex;
      justify-content: flex-end;
      gap: 10px!important;
      > .content-user {
        display: none;
      }
      .content-button-minicart {
        width: 100%!important;
        .carrinho {
          width: 100%;
          height: 36px!important;
          padding: 0!important;
          a {
          height: 32px;
            .icon-shopping-cart {
              width: 25px;
              height: 21px;
              margin: 0;
              &::before {
                width: 25px;
                height: 21px;
              }
            }
            .qtd-carrinho {
              font-size: 13px!important;
              right: -4px!important;
            }
            b.titulo {
              font-size: 13px;
            }
            .vazio-text {
              &:before {
                font-size:14px!important
              }
            }
          }
        }
      }
    }
  }

  
}