header[class="header"] {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.15);
}

// CONTENT SERACH RESULTS
ul#ui-id-1 {
  top: 127px;
  left: 30px !important;
  z-index: 100000;
  width: 38% !important;
  padding: 20px !important;
  background-color: #eadfff;
  li {
    a {
      padding: 10px;
      background-color: #eadfff;
      color: #402d5d;
      font-size: 14px;
      &:hover {
        color: #fff;
        background-color: #402d5d;
      }
    }
  }
}
.content-top-bar {
  position: relative;
  width: 100vw;
  background-color: #061978;
  padding: 0;
  .container-center {
    > div {
      display: flex;
      align-items: center;
      justify-content: space-around;
      ul.sociais-topo {
        width: 50%;
        display: flex;
        gap: 10px;
        font-size: 16px;
        margin: 0;
        color: #000;
        li {
          line-height: 0!important;
          i {
            width: 15px;
            height: 15px;
            background-color: transparent;
            &:before {
              content: '';
              display: none;
            }
          }
          i.icon-facebook {
            background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icon-facebook.svg") center center no-repeat;
            background-size: contain;
          }
          i.icon-instagram {
            background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icon-instagram.svg") center center no-repeat;
            background-size: contain;
          }
        }
      }
      > div {
      }
      .lista-redes {
        display: flex;
        align-items: center;
        ul {
          display: flex;
          align-items: center;
          gap: 9px;
          li {
            a {
              i.icon-facebook {
                width: 15px;
                height: 15px;
                padding: 0;
                margin: 0;
                display: block;
                background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icon-facebook.svg")
                  center center no-repeat;
                background-size: contain;
                &::before {
                  display: none;
                }
              }
              i.icon-instagram {
                width: 15px;
                height: 15px;
                padding: 0;
                margin: 0;
                display: block;
                background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icon-instagram.svg")
                  center center no-repeat;
                background-size: contain;
                &::before {
                  display: none;
                }
              }
            }
          }
        }
      }
      .canais-contato {
        display: flex;
        margin: 0;
        justify-content: end;
        ul {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          gap: 30px;
          margin: 0;
          float: none;
          &::after {
            display: none !important;
          }
          li {
            margin-left: 0;
            border-left: 0;
            i {
              &::before {
                display: none;
              }
            }
            .icon-comment {
              width: 15px;
              height: 15px;
              padding: 0;
              margin: 0;
              display: block;
              background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/comment-icon.svg")
                center center no-repeat;
              background-size: contain;
            }
            .icon-phone {
              width: 11px;
              height: 15px;
              padding: 0;
              margin: 0;
              display: block;
              background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icone-tel.svg")
                center center no-repeat;
              background-size: contain;
            }
            .fa-whatsapp {
              width: 12px;
              height: 15px;
              padding: 0;
              margin: 0;
              display: block;
              background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icon-whatsapp.svg")
                center center no-repeat;
              background-size: contain;
            }
            span {
              color: #000;
              opacity: 1;
            }
            a,
            span:has(i) {
              display: flex;
              align-items: center;
              gap: 10px;
              color: #000;
              opacity: 1;
              text-decoration: none;
              i {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .content-search {
    width: 45%;
    form#form-buscar {
      position: relative;
      margin: 0;
      width: 94%;
      input.ui-autocomplete-input {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 10px 20px;
        border-radius: 20px;
        border: 1px solid #402d5d;
        &::placeholder {
          color: rgba(0, 0, 0, 0.5);
        }
      }
      button.botao-busca {
        position: absolute;
        top: 50%;
        right: 17px;
        transform: translateY(-50%);
        width: 23px;
        height: 23px;
        background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/search-button.svg")
          center center no-repeat;
        background-size: contain;
        box-shadow: none !important;
        border: 0 !important;
        overflow: visible;
        &::before {
          display: none;
        }
      }
    }
  }
  .logo {
    width: 10%;
    a {
      display: flex;
      justify-content: center;
      img {
        position: relative;
        max-height: 93px;
      }
    }
  }
  .content-menu-user {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 30px;
    > div {
      margin: 0;
    }
    .content-user {
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 10px;
        box-shadow: inset 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(0, 0, 0, 0);
        span.icon-welcome {
          width: 20px;
          height: 20px;
          background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/account.svg")
            center center no-repeat;
          background-size: contain;
        }
        p {
          color: #402d5d;
          font-size: 16px;
          margin: 0;
        }
        color: #402d5d;
        span {
          color: #402d5d;
        }
      }
      .menu-user-logged {
        ul.dropdown-menu {
          min-width: 100%;
          left: 0;
          background-color: #eadfff;
          padding: 10px;
          border-radius: 0;
          li {
            a {
              background-color: #eadfff;
              color: #402d5d;
              font-size: 14px;
              &:hover {
                color: #fff;
                background-color: #402d5d;
              }
            }
          }
        }
        a.dropdown-toggle {
          background: transparent;
          border: 0;
          font-size: 14px;
          color: #402d5d;
          span {
            color: #402d5d;
          }
        }
      }
    }
    .content-button-minicart {
      width: 250px;
      .icon-shopping-cart {
        width: 20px;
        height: 20px;
        float: none;
        background-color: transparent !important;
        opacity: 1;
        border: 0;
        &::before {
          content: "";
          width: 20px;
          height: 20px;
          background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/shopping-cart.svg")
            center center no-repeat;
          background-size: contain;
          display: block;
        }
      }
      .carrinho.vazio {
        border-radius: 20px;
        border: 1px solid #8146fa;
        padding: 0 25px;
        > a {
          display: flex;
          align-items: center;

          .qtd-carrinho {
            font-size: 16px;
            display: block !important;
          }
          span.vazio-text {
            display: inline-block;
            margin: 0;
            text-wrap: nowrap;
            font-size: 0;
            color: transparent;
            display: flex;
            align-items: center;
            gap: 10px;
            line-height: 0 !important;
            &::before {
              content: "Itens";
              font-size: 16px;
              color: #000;
              display: block;
            }
          }
        }
      }
      div[class="carrinho"] {
        padding: 0 25px;
        border-radius: 20px;
        border: 1px solid #8146fa;
        > a {
          display: flex;
          align-items: center;
          background: transparent !important;
          border: 0 !important;
          i {
            line-height: 0;
            margin: 0 12px 0 0;
            display: block;
          }
          .qtd-carrinho {
            font-size: 16px;
            display: block !important;
            + span {
              font-size: 12px !important;
              padding: 0;
              span {
                font-size: 12px !important;
              }
            }
          }
        }
        .carrinho-interno {
          > ul {
            > li {
              padding: 0;
            }
          }
          .carrinho-rodape {
            .carrinho-info {
              width: 100%;
              float: none;
              clear: both;

              i {
                font-size: 14px;
                font-weight: 600;
                font-style: normal;
                margin-bottom: 10px;
                text-align: right;
              }
              .carrino-total {
                font-size: 15px;
                font-weight: 800;
                color: #402d5d;
                text-align: right;
                strong {
                  font-size: 15px;
                  font-weight: 800;
                  color: #402d5d;
                }
              }
            }
            a.botao.principal {
              border: 0 !important;
              background: #402d5d !important;
              width: 100% !important;
              margin-top: 20px !important;
              i {
                display: none !important;
              }
            }
          }
        }
      }
    }
  }
}

// ALERT BAR
.alert-bar {
  background: #9E34E3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  p {
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    margin: 0;
    a {
      color: #fff;
      text-decoration: underline;
    }
  }
}

#cabecalho {
  > .conteiner {
    > .row-fluid {
      display: none;
    }
  }
}
