$font-1: "Montserrat", sans-serif;
$font-2: "Cinzel", serif;

#rodape {
  display: none!important;
}

footer.content-footer {
  position: relative;
  padding: 50px 0;
  overflow: hidden;
  float: none;
  clear: both;
  background-color: #E3E6F8;
  .container-center {
    display: flex;
    justify-content: space-between;
    .titulo {
      font-family: $font-2;
      font-size: 18px;
      font-weight: 800;
      text-transform: uppercase;
      color: #5772F9;
      margin-bottom: 24px;
      display: block;
    }
    .sobre-loja-rodape {
      p {
        font-family: $font-1;
        font-size: 13px;
        color: #000;
        margin-bottom: 40px;
      }
      .content-payment {
        ul {
          margin: 0;
          li {
            list-style: none;
            margin-bottom: 10px;
            a {
              font-family: $font-1;
              font-size: 13px;
              color: #000;
              
            }
          }
        }
      }
    }
    .links-rodape-paginas {
      ul {
        margin: 0;
        li {
          list-style: none;
          margin-bottom: 10px;
          a {
            font-family: $font-1;
            font-size: 13px;
            color: #000;
            
          }
        }
      }
    }
    .lista-redes {
      > ul {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 40px;
        li {
          i {
            width: 27px;
            height: 27px;
            background-color: transparent;
            &:before {
              content: '';
              display: none;
            }
          }
          i.icon-facebook {
            background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icon-facebook.svg") center center no-repeat;
            background-size: contain;
          }
          i.icon-instagram {
            background: url("https://cdn.awsli.com.br/2454/2454272/arquivos/icon-instagram.svg") center center no-repeat;
            background-size: contain;
          }
        }
      }
      .selos {
        width: 100%;
        margin: 0;
        ul {
          display: flex;
          width: 100%;
          gap: 10px;
          flex-wrap: wrap;
          align-items: center;
          li {
            margin: 0;
          }
        }
      }
    }
  }
  .content-legal {
    margin-top: 40px;
    .container-center {
      display: flex;
      flex-direction: column!important;
      align-items: center!important;
    }
    .content-logos {
      width: 100%;
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      a {
        max-width: 150px;
        img {
          width: 100%;
        }
      }
    }
    p {
      width: 100%;
      font-size: 12px;
      color: #000000;
      font-family: $font-1;
      display: block;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  footer {
    .container-center {
      flex-direction: column;
      padding: 0 20px;
    }
  }
}